<style>
  .trigger {
    background-color: lightgreen;
    border: 1px solid red;
    width: 400px;
    padding: 10px;
  }

  .content {
    background-color: lightblue;
    border: 1px solid red;
    width: 400px;
    padding: 10px;
  }
</style>

{{#basic-dropdown as |overlay|}}
  {{#overlay.trigger class="trigger"}}
    Trigger 1
  {{/overlay.trigger}}
  {{#overlay.content class="content"}}
    {{#basic-dropdown as |overlay|}}
      {{#overlay.trigger class="trigger"}}
        Trigger 2
      {{/overlay.trigger}}
      {{#overlay.content class="content"}}
        Content of trigger 2
      {{/overlay.content}}
    {{/basic-dropdown}}
  {{/overlay.content}}

  <br />
  <br />
  <br />
  <br />

  {{#unless overlay.isOpen}}
    <button onclick={{action 'showOverlay' overlay}}>Show Overlay</button>
  {{/unless}}
{{/basic-dropdown}}



<br />
<br />
<br />
<br />
<button onclick={{action 'showOverlayGlobally' overlay}}>Show Overlay Globally</button>


<hr />
